core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
.venv
/staticfiles/
blog/fixtures/
# Ignore fixture files
*.json
# OR, more specific:
fixtures/posts.json

__pycache__/
*.pyc
db.sqlite3
*.sqlite3
# Ignore SSL certificate and key files
cert.pem
key.pem
cert.crt

# Or ignore all PEM/key files anywhere
*.pem
*.key


